/* root variables */
:root {
    --pampas: #F5F2EF;
    --indian-khaki: #C5A284; 
    --pharlap: #AA858E;
    --fountain-blue: #55C4BA;
    --butterfly-bush: #5F5088;
    --Martinique-shadow: 0px 3px 3px rgb(44,42,72, 0.2);
    --Martinique-shadow2: 0px 3px 3px rgb(44,42,72, 0.5);
}

* {
    font-family: 'Atma', cursive, 'Josefin Sans', sans-serif, 'Londrina Solid', 'Nunito Sans';
}

h1{
    font-size: 80px;
    text-shadow: var(--Martinique-shadow2);
}

h5 {
    color: var(--butterfly-bush);
    font-size: 28px;
    font-family: 'Londrina Solid', cursive;
    text-shadow: var(--Martinique-shadow);
}

p {
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
}


/* JUMBOTRON STYLING */
header .jumbotron {
    padding: 5rem;
    background-size: cover;
    background: var(--pharlap);
    text-align: center;
}

header h1 {
    margin: 0 auto;
    font-family: 'Atma', cursive;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--butterfly-bush);
}

header p {
    font-family: 'Josefin Sans', sans-serif;
}

/* MAIN STYLING */
.weather-container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 65%;
    justify-items: center;
}

.navbar-brand{
    font-size: 50px;
}

.input-container {
    justify-content: center;
    min-width: 150px;
}

.search-label{
    padding-top: 1rem;
    text-align: left;
    font-family: 'Archivo';
    font-size: 14px;
    color: var(--butterfly-bush);
}

.input-city-name {
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--Martinique-shadow);
}

.search-btn {
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    color: var(--pampas);
    text-transform: uppercase;
    background: var(--pharlap);
    box-shadow: var(--Martinique-shadow);
}

.search-btn:hover {
    background: var(--butterfly-bush);
}

.historyBtn {
    border-radius: 5px;
    color: var(--indian-khaki);
    box-shadow: var(--Martinique-shadow);
}

.date-today {
    font-family: 'Londrina Solid', cursive;
    text-transform: uppercase;
}

.card {
    border-radius: 5px;
    box-shadow: var(--Martinique-shadow);
    min-width: 500px;
    max-width: 100%;
}

.card-body {
    margin: 10px;
    min-width: 15%;
}

.card-body p span {
    font-family: 'Josefin Sans', sans-serif;
}

.card-forecast {
    background-color: var(--fountain-blue);
}

.card-data-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
}

.card-img-content {
    justify-items: center;
}

.card-img-content img {
    min-width: 100px;
    height: auto;
}

.card-data-info {
    font-size: 20px;
    color: var(--pampas);
    text-shadow: var(--Martinique-shadow);
    text-align: left;
}

.card-deck {
    display: flex;
    flex-direction: column;
}

.weather-data{
    width: 100%;
    justify-items: center;
}
.historyBtn{
    margin-top: 10px;
    width: 100%;
}